@charset "utf-8";
         header {width:1185px;  height:160px; margin: 0 auto; }
        #logo {width:220px; height:100px;  margin:10px; float:left; background-color:black;}
        #logo > a > img {width:100%; height:100%;}

        #login {width: 295px; height:30px; float:right; margin: 1px0 10px 0 0; }
        #login > ul > li{float:left; font-size:12px; list-style:none; margin:0 5px 10px 0;  color:black;}
        #login > ul > li > a {text-decoration:none;}

        nav {width:100%; height:40px; float:left; }
        nav > ul >li {float:left; font-size:12px; list-style:none; margin:0 5px 10px 0;  color:black; font-weight:bold; }
        nav > ul > li >a {text-decoration:none; margin: 0 10px 0 10px; }
        nav > ul > li >a:hover{color:cyan;}

         footer {width:100%;  height:130px; margin: 0 auto; }
        #box {width:1240px;  height:130px; }
        #box > ul {width:600px; height:70px; margin: 10px 50px 0 50px;}
        #box > ul > li  {font-size:12px; list-style:none; color:black; margin:10px 0 0 10px; float:left;}
        #box > ul > li > a{text-decoration:none; }


        #box > p {font-size:12px; text-align:center;  color:black; margin:10px 0 0 10px;}